{% extends 'base.html' %}

{% block content %}


<!--!!!!!!!!!!MY FORM!!!!!!!!!-->

         <form name="add_question" action="/add_question" class="form-horizontal" method="POST" role="form">


             <div class="panel-body">
               <h4 class="text-primary">Please, write your question and choose the topic:</h4>
               <br />


<!--Form.Question-->
             <div class="form-group">
                <label class="col-sm-2 control-label"> Question: <span class="mandatory-field-asterisk asterisk_red">*</span></label>
                <div class="col-sm-10">
                    <div class="ddl">
                        <div class="input-group">
                            <input style="width: 500px;" class="form-control ddl-text" name="question_body" type="text" required value=""  />
                        </div>
                    </div>
                </div>
             </div>

             <!---->
<!--Form.Topic -->
             <div class="form-group">
                <label class="col-sm-2 control-label"> Topic: <span class="asterisk_red mandatory-field-asterisk">*</span></label>
                <div class="col-sm-10">
                    <div class="ddl">
                        <div class="input-group">
                            <select required class="form-control ddl-text" name="question_topic">
                                <option disabled>Choose Topic</option>
                                <!--<option value="None">None </option>-->
                                {% for topic in topics %}
                                    <option value="{{topic.id}}" required {% if topic.id == current_topic_id %} selected {% endif %}>{{topic.topic_name}}</option>
                                {%endfor%}
                             </select>
                        </div>
                    </div>
                </div>
             </div>
             </div>


<!--Form.Footer.buttons-->
            <div class="panel-footer">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>

                    <a href="/index" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </div>

         </form>

<!--{% for topic in topics %}-->
        <!--<p>{{topic.topic_name}}</p>-->
<!--{% endfor %}-->


{% endblock %}