
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>QuestionZ</title>

    <!-- Bootstrap core CSS -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom styles for this template -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}">

  <style>
       .asterisk_red {
        color: red !important;
       }
   </style>


  </head>

  <body>

    <div class="container">


        <div>
                <!--<div style="float: right;">login/register</div>-->
                {% if g.user.is_authenticated()%}
                    <p> Welcome, {{g.user.username}}</p>
                    <p><a href="{{ url_for('logout') }}">Logout</a></p>
                {% endif %}
                {% if not g.user.is_authenticated()%}
                    <p><a href="{{ url_for('login') }}">Login</a></p>
                    <p><a href="{{ url_for('register') }}">Register</a></p>
                {% endif %}
            <!--</ul>-->
         </div>
        <!--<br>-->
        <!--<br>-->
        <br>
        <br>
      <div class="header">

        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="index">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">QuestionZ</h3>
      </div>

                    {% block content %}
                    {% endblock %}


      <footer class="footer">
        <p>&copy; V. Pashchenkov 2015</p>
      </footer>

    </div> <!-- /container -->




  </body>
</html>
