{% extends "base.html" %}

{% block content %}


<form action="" method=post class="form-horizontal">
    <!--<h2>Sign in to QuestionZ Web Application</h2>-->


<div class="panel-body">
    <h4 class="text-primary">Register in QuestionZ Web Application</h4>
    <br />


<!--Form.Login-->
     <div class="form-group">
        <label class="col-sm-2 control-label"> Login: <span class="mandatory-field-asterisk asterisk_red">*</span></label>
        <div class="col-sm-10">
            <div class="ddl">
                <div class="input-group">
                    <input style="width: 500px;" id="username"  class="form-control ddl-text" name="username" type="text" placeholder="Enter Username" value="{{ request.form.username }}" required  />
                </div>
            </div>
        </div>
     </div>


<!--Form.Password-->
     <div class="form-group">
        <label class="col-sm-2 control-label"> Password: <span class="mandatory-field-asterisk asterisk_red">*</span></label>
        <div class="col-sm-10">
            <div class="ddl">
                <div class="input-group">
                    <input style="width: 500px;" id="password"  class="form-control ddl-text" name="password" type="password" placeholder="Enter Password" required value="{{ request.form.password }}" />
                </div>
            </div>
        </div>
             </div>

<!--Form.Email-->
     <div class="form-group">
        <label class="col-sm-2 control-label"> Email: <span class="mandatory-field-asterisk asterisk_red">*</span></label>
        <div class="col-sm-10">
            <div class="ddl">
                <div class="input-group">
                    <input style="width: 500px;" id="email"  class="form-control ddl-text" name="email" type="email" placeholder="Enter Email" required value="{{ request.form.username }}" />
                </div>
            </div>
        </div>
             </div>


      <!--Form.Footer.buttons-->
            <div class="panel-footer">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Register</button>

                    <a href="/index" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </div>
</div>

 </form>


{% endblock %}