<!--Q-U-E-S-T-I-O-N-S-->
{% extends 'base.html' %}

{% block content %}

<div><h2>{{current_topic}} questions: </h2></div>
        <br>
        <form action="/ask_question" method="GET">
            <input name="current_topic_id" type="hidden" value="{{current_topic_id}}" />
            <button type="submit" style="text-decoration: none;" class="btn btn-md btn-success">Ask question!</button>
        </form>

         <div class="row marketing">
             <table class="table table-bordered">

                 {% for question in questions %}
                 {% for user in users %}
                 {% if question.user_id == user.id%}
                 <tr>
                     <td>
                         <form action="/answers" method="get" name="template">
                             <input name="question_id" type="hidden" value="{{question.id}}" />
                             <button type="submit" style="text-decoration: none;" class="btn btn-link">{{question.question_body}}?</button>
                             <span style="float: right;">Asked User: <b>"{{user.username}}"</b></span>
                             <!--<span>{{question.id}}</span>-->
                         </form>
                     </td>
                 </tr>
                 {% endif %}
                 {% endfor %}
                 {% endfor %}
             </table>
          </div>

{% endblock %}