{% extends 'base.html' %}

{% block content %}

<div><h2>Answers for: </h2></div>
        <br>
<span>123</span>

         <div>
              <form action="/answers" method="POST" name="answers_template">
                  <ul class="list-group" style="border-collapse: collapse; !important">
                      {% for question in questions %}
                        <li class="list-group-item" style="border-collapse: collapse; !important">
                            <input name="topic_name" type="hidden" value="{{question.id}}" />
                            <button type="submit" style="text-decoration: none;" class="btn btn-link">{{question.question_body}}</button>
                        </li>
                      {% endfor %}
                  </ul>
              </form>
          </div>


{% endblock %}